

<section class=" bg-yellow text-gray-900">
  
        
  <!-- SECTION: Team -->
  <div
    class="flex flex-col items-center justify-between mx-auto p-8 md:flex-row lg:w-5/6 xl:3/4"
  >
    <div class="flex flex-col md:flex-row w-full">
      <div class="flex flex-col items-center w-full md:w-1/2">
        <!-- SECTION: Picture -->
        <img
          class="object-cover object-center rounded-full h-32 w-32"
          src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1902&q=80"
          alt=""
        />
        <!-- !SECTION: Picture -->
        <!-- SECTION: Text Content -->
        <h1
          class="text-4xl font-light text-yellow-500 "
        >
          <%= @user.firstname %>
          <%= @user.lastname %>
        </h1>
        <h2 class="text-xl"> <%= @user.email %></h2>
        <p class="px-2 md:px-16 text-justify mt-4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          dolorem itaque assumenda nostrum error? Porro dolore maxime modi minus
          ullam optio placeat aut deserunt, eius quas reprehenderit doloremque
          fugiat iusto.
        </p>
        <!-- !SECTION: Text Content -->
      </div>
      <!-- SECTION: Projects -->
      <div class="flex flex-col w-full md:w-1/2 md:px-8 items-center">
        <div class="w-full flex flex-wrap">
           <!-- SECTION: Project -->
          <div
            class="w-full md:w-1/2 p-2 transform duration-200 ease-in hover:-translate-y-1"
          >
            <div
              class="rounded-md h-48 flex justify-end items-end p-4  bg-yellow-200 "
            >
              <p
                class="text-2xl font-bold text-gray-900 "
              >
                Example Project
              </p>
            </div>
          </div>
          <!-- !SECTION: Project -->
            <!-- SECTION: Project -->
          <div
            class="w-full md:w-1/2 p-2 transform duration-200 ease-in hover:-translate-y-1"
          >
            <div
              class="rounded-md h-48 flex justify-end items-end p-4  bg-yellow-300 "
            >
              <p
                class="text-2xl font-bold text-gray-900 "
              >
                Example Project
              </p>
            </div>
          </div>
          <!-- !SECTION: Project -->
            <!-- SECTION: Project -->
          <div
            class="w-full md:w-1/2 p-2 transform duration-200 ease-in hover:-translate-y-1"
          >
            <div
              class="rounded-md h-48 flex justify-end items-end p-4  bg-yellow-500 "
            >
              <p
                class="text-2xl font-bold text-gray-900 "
              >
                Example Project
              </p>
            </div>
          </div>
          <!-- !SECTION: Project -->
          <!-- SECTION: Project -->
          <div
            class="w-full md:w-1/2 p-2 transform duration-200 ease-in hover:-translate-y-1"
          >
            <div
              class="rounded-md h-48 flex justify-end items-end p-4  bg-yellow-400 "
            >
              <p
                class="text-2xl font-bold text-gray-900 "
              >
                Example Project
              </p>
            </div>
          </div>
          <!-- !SECTION: Project -->
        </div>
      </div>
      <!-- !SECTION: Projects -->
    </div>
  </div>
  <!-- !SECTION: Team -->
    
      
</section>
      