<div class="jumbotron flex justify-between">
<div><p class="jumbotron-text text-black text-xl ">Accueil | Produits </p></div>

<div class="content-start text-black text-4xl font-bold mt-8"></div>
<div></div>
</div>



  <div class = "test">   
   
  <!-- SECTION: Gallery -->
  <div
    class="flex flex-col items-center justify-between mx-auto p-8 md:flex-row lg:w-5/6 xl:3/4"
  >
    <!-- SECTION: Text -->
    <div
      class="flex flex-col w-full md:w-1/2 px-0 md:px-16 justify-start items-center  "
    >
      <h1 class="text-7xl font-semibold text-yellow-800">KITTYPICS</h1>
      <p class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora rerum
        mollitia alias ipsum aspernatur qui quidem saepe commodi expedita
        incidunt consectetur officiis accusantium, sit pariatur laudantium iure
        dolore? Sunt, quas!
      </p>
    </div>
    <!-- !SECTION: Text -->
    <!-- SECTION: Images -->
    <div class=" flex-wrap w-full hidden md:flex ">
      <div class="flex p-1 w-full md:w-1/2 ">
        <img
          class="rounded-md h-64 w-full object-center object-cover flex-shrink"
          src="https://alternativi.fr/uploads/articles//les-bienfaits-du-chat-sur-lhomme-e96.jpeg"
          alt=""
        />
      </div>
      <div class="flex p-1 w-full md:w-1/2  ">
        <img
          class="rounded-md h-64 w-full object-center object-cover flex-shrink"
          src="https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fanimaux.2Fanimaux-pratique.2Ftout-savoir-sur-poil-chat-19864.2F13133163-2-fre-FR.2Fon-vous-dit-tout-sur-les-poils-de-chat.2Ejpg/750x562/quality/80/crop-from/center/cr/wqkgR2V0dHkgLyBGZW1tZSBBY3R1ZWxsZQ%3D%3D/on-vous-dit-tout-sur-les-poils-de-chat.jpeg"
          alt=""
        />
      </div>
      <div class="flex p-1 w-full md:w-1/2  ">
        <img
          class="rounded-md h-64 w-full object-center object-cover flex-shrink"
          src = "https://www.sciencesetavenir.fr/assets/img/2020/01/17/cover-r4x3w1000-5e21bf77a1547-chartreux-3298051-1920.jpg"
        />
      </div>
      <div class="flex p-1 w-full md:w-1/2  ">
        <img
          class="rounded-md h-64 w-full object-center object-cover flex-shrink"
          src="https://cdn.shopify.com/s/files/1/0326/2057/6900/articles/bienfaits-du-chat-sur-les-humains2_1600x.jpg?v=1588095563"
          alt=""
        />
      </div>
    </div>
    <!-- !SECTION: Images -->
  </div>
  <!-- !SECTION: Gallery -->
    
      

      
     </div> 


<section class="text-gray-900 ">
  
        
  <!-- SECTION: Blog -->
  <div
    class="flex flex-col items-center flex-wrap justify-between mx-auto p-8 md:flex-row lg:w-5/6 xl:3/4"
  >
    <!-- SECTION: Article -->
    <div class="md:w-1/2 xl:w-1/3 py-4 md:px-8">
      <img
        class="rounded-t-md h-48 w-full object-cover shadow-lg"
        src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1327&q=80 "
        alt=""
      />
      <div
        class="flex w-full flex-col justify-center px-8 py-4 items-center border text-gray-900 rounded-b-md bg-yellow-100 border-none shadow-lg"
      >
        <div class="flex w-full justify-around items-center pb-4">
          <!-- SECTION: Author Picture -->
          <img
            class="hidden md:flex rounded-full w-10 h-10 mr-4 object-cover object-center"
            src="https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1401&q=80"
            alt=""
          />
          <!-- !SECTION: Author Picture -->
          <div class="flex flex-col w-full md:w-3/4">
            <!-- SECTION: Title -->
            <h1
              class="text-xl font-bold text-yellow-500 "
            >
              Nom du chat
            </h1>
            <!-- !SECTION: Title -->

            <div class="flex w-full text-xs justify-between">
              <!-- SECTION: Author Name -->
              <!-- !SECTION: Author Name -->
              <!-- SECTION: Date -->
              <p>16 November 2020</p>
              <div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
              <!-- !SECTION: Date -->
            </div>
          </div>
        </div>

        <!-- SECTION: Article Preview -->
        <p class="text-justify py-4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          cupiditate laboriosam fugit enim recusandae ullam labore, accusamus
          quaerat iure, aut ea soluta eius vel voluptatibus nobis iusto officia
          earum officiis ...
        </p>
        <!-- !SECTION: Article Preview -->

        <!-- SECTION: Category -->
        <button
          class="self-end bg-yellow-500 text-white px-2 py-1 rounded-md hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-opacity-65"
        >
          Ajouter au panier
        </button>
        <!-- SECTION: Category -->
      </div>
    </div>
    <!-- !SECTION: Article -->
    <!-- SECTION: Article -->
<div class="md:w-1/2 xl:w-1/3 py-4 md:px-8">
      <img
        class="rounded-t-md h-48 w-full object-cover shadow-lg"
        src="https://images.unsplash.com/photo-1478098711619-5ab0b478d6e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80 "
        alt=""
      />
      <div
        class="flex w-full flex-col justify-center px-8 py-4 items-center border text-gray-900 rounded-b-md bg-yellow-100 border-none shadow-lg"
      >
        <div class="flex w-full justify-around items-center pb-4">
          <!-- SECTION: Author Picture -->
          <img
            class="hidden md:flex rounded-full w-10 h-10 mr-4 object-cover object-center"
            src="https://images.unsplash.com/photo-1505033575518-a36ea2ef75ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1866&q=80"
            alt=""
          />
          <!-- !SECTION: Author Picture -->
          <div class="flex flex-col w-full md:w-3/4">
            <!-- SECTION: Title -->
            <h1
              class="text-xl font-bold text-yellow-500 "
            >
              Nom du chat
            </h1>
            <!-- !SECTION: Title -->

            <div class="flex w-full text-xs justify-between">
              <!-- SECTION: Author Name -->
              <!-- !SECTION: Author Name -->
              <!-- SECTION: Date -->
              <p>16 November 2020</p>
              <div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
              <!-- !SECTION: Date -->
            </div>
          </div>
        </div>

        <!-- SECTION: Article Preview -->
        <p class="text-justify py-4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          cupiditate laboriosam fugit enim recusandae ullam labore, accusamus
          quaerat iure, aut ea soluta eius vel voluptatibus nobis iusto officia
          earum officiis ...
        </p>
        <!-- !SECTION: Article Preview -->

        <!-- SECTION: Category -->
        <button
          class="self-end bg-yellow-500 text-white px-2 py-1 rounded-md hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-opacity-65"
        >
          Ajouter au panier
        </button>
        <!-- SECTION: Category -->
      </div>
    </div>

    <div class="md:w-1/2 xl:w-1/3 py-4 md:px-8">
      <img
        class="rounded-t-md h-48 w-full object-cover shadow-lg"
        src="https://images.unsplash.com/photo-1472491235688-bdc81a63246e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80 "
        alt=""
      />
      <div
        class="flex w-full flex-col justify-center px-8 py-4 items-center border text-gray-900 rounded-b-md bg-yellow-100 border-none shadow-lg"
      >
        <div class="flex w-full justify-around items-center pb-4">
          <!-- SECTION: Author Picture -->
          <img
            class="hidden md:flex rounded-full w-10 h-10 mr-4 object-cover object-center"
            src="https://images.unsplash.com/photo-1505033575518-a36ea2ef75ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1866&q=80"
            alt=""
          />
          <!-- !SECTION: Author Picture -->
          <div class="flex flex-col w-full md:w-3/4">
            <!-- SECTION: Title -->
            <h1
              class="text-xl font-bold text-yellow-500 "
            >
              Nom du chat
            </h1>
            <!-- !SECTION: Title -->

            <div class="flex w-full text-xs justify-between">
              <!-- SECTION: Author Name -->
              <!-- !SECTION: Author Name -->
              <!-- SECTION: Date -->
              <p>16 November 2020</p>
              <div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i></div>
              <!-- !SECTION: Date -->
            </div>
          </div>
        </div>

        <!-- SECTION: Article Preview -->
        <p class="text-justify py-4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          cupiditate laboriosam fugit enim recusandae ullam labore, accusamus
          quaerat iure, aut ea soluta eius vel voluptatibus nobis iusto officia
          earum officiis ...
        </p>
        <!-- !SECTION: Article Preview -->

        <!-- SECTION: Category -->
        <button
          class="self-end bg-yellow-500 text-white px-2 py-1 rounded-md hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-opacity-65"
        >
          Ajouter au panier
        </button>
        <!-- SECTION: Category -->
      </div>
    </div>


  </div>
  <!-- !SECTION: Blog -->
    
      
</section>
      

      
      
