/* tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html {
  color: #FCECC2;
  font-family: 'Poppins', sans-serif;
};

.dropdown:hover .dropdown-menu {
  display: block;
}

// @layer components {

// }