// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.jumbotron {
  display: flex;
  justify-content: left;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  width: 80%;
  z-index: -1;
  border-radius: 46px;
  background-image: url(image_path("triangles.png"));
  background-repeat: space repeat;
  background-size: cover;
}

.jumbotron-text {
  margin-top: 15px;
  margin-left: 30px;
}

.test {
  margin-top: -500px;
  margin-left: 128px;
  margin-right: 100px;
}
