<div class="jumbotron flex justify-between mt-12 shadow">
  <%# <div>
    <p class="jumbotron-text text-black text-xl ">Accueil | Produits </p>
  </div> %>
  <div class="content-start text-black text-4xl font-bold mt-8"></div>
</div>
<div class = "test">
  <!-- SECTION: Gallery -->
  <div
    class="flex flex-col items-center justify-between mx-auto p-8 md:flex-row lg:w-5/6 xl:3/4"
  >
    <!-- SECTION: Text -->
    <div
      class="flex flex-col w-full md:w-1/2 px-0 md:px-16 justify-start items-center "
    >
      <div class="jumbotron-header mb-12 ">
        <h1 class="sm:text-7xl lg:text-8xl font-semibold text-gray-800 lg:mr-10 jumbo-header sm:pb-8">KittyPics</h1>
      </div>
      <svg class="sm:mt-12" width="120px" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>pawprint2-glyph</title><path d="M8.57,156.87S24.12,95,55.06,140.7l29.07,55s5.84,35.78-23,44.6c0,0-50.93,5.11-61.12-47Z" fill="#5b5b5f"/><path d="M241.8,226.63s18.07-61.16-31.83-37.56l-53,32.62s-23.2,27.84-2.84,50.13c0,0,41.27,30.24,76.56-9.48Z" fill="#5b5b5f"/><path d="M78.37,107.58S90.33,36.4,134,52.91c0,0,17.69,14.69,11.22,70.65,0,0-11,42.59-33,46.41,0,0-30.83-3.84-34.7-26.95C77.51,143,73.67,122.25,78.37,107.58Z" fill="#5b5b5f"/><path d="M214.41,143.55s25.85-67.34-20.15-75.37c0,0-22.69,3.69-45.6,55.16,0,0-12.2,42.22,4.87,56.78,0,0,28.5,12.32,43.57-5.58C197.1,174.53,211,158.57,214.41,143.55Z" fill="#5b5b5f"/><path d="M44.6,98.21S48.06,82.75,57,81.16c0,0-4.19,18.13-.62,21.13a2.55,2.55,0,0,1-2.7,2.42S41.4,103.37,44.6,98.21Z" fill="#5b5b5f"/><path d="M122.51,18.18s3.46-15.46,12.36-17c0,0-4.19,18.15-.62,21.12a2.56,2.56,0,0,1-2.7,2.42S119.29,23.35,122.51,18.18Z" fill="#5b5b5f"/><path d="M252.13,160.63s4.87-15.06-2-21c0,0-5.63,17.78-10.2,18.54a2.54,2.54,0,0,0,1.11,3.45S252.27,166.71,252.13,160.63Z" fill="#5b5b5f"/><path d="M208.32,40.48s4.89-15.06-2-21c0,0-5.62,17.77-10.2,18.51a2.57,2.57,0,0,0,1.11,3.47S208.48,46.57,208.32,40.48Z" fill="#5b5b5f"/><path d="M27.91,280.54S32.8,282.3,87.46,233c0,0,35.32-33.47,50.9,13.9,0,0,23,58,27.72,64.87,0,0,11.63,32.06-21.53,45,0,0-36.59,4.23-39.21-27.07,0,0-29.26-2.81-31.23-6.82,0,0-49.84,31.64-57.71-21.35C16.39,301.51,18.66,286.19,27.91,280.54Z" fill="#5b5b5f"/><path d="M509.05,332.42s-5.95-63.47-43.49-23l-37.1,50s-11.22,34.47,16,47.57c0,0,49.57,12.75,67.56-37.24Z" fill="#5b5b5f"/><path d="M268,366s-8.55-63.18,37.16-32.28L352.57,374s18.69,31.06-4.84,50c0,0-45.41,23.64-74.21-21Z" fill="#5b5b5f"/><path d="M447.55,273.12s-1-72.14-46.71-62.5c0,0-19.71,11.87-21.83,68.12,0,0,4.35,43.76,25.61,50.91,0,0,31,.88,38.4-21.37C443,308.29,450,288.33,447.55,273.12Z" fill="#5b5b5f"/><path d="M307.63,288s-15.31-70.5,31.37-71.42c0,0,21.88,7.09,36.7,61.44,0,0,5.63,43.57-13.44,55.36,0,0-30.07,7.87-42.24-12.13C320,321.27,308.74,303.39,307.63,288Z" fill="#5b5b5f"/><path d="M482.36,269s-1.08-15.79-9.65-18.71c0,0,1.38,18.57-2.6,21a2.58,2.58,0,0,0,2.32,2.81S484.74,274.59,482.36,269Z" fill="#5b5b5f"/><path d="M417.51,178.06s-1.08-15.79-9.65-18.72c0,0,1.38,18.55-2.57,21a2.58,2.58,0,0,0,2.3,2.83S419.89,183.67,417.51,178.06Z" fill="#5b5b5f"/><path d="M267.71,299.17s-2.52-15.63,5.19-20.43c0,0,2.84,18.4,7.25,19.85a2.57,2.57,0,0,1-1.62,3.27S266.68,305.18,267.71,299.17Z" fill="#5b5b5f"/><path d="M329.29,187.09s-2.54-15.67,5.14-20.46c0,0,2.87,18.43,7.28,19.85a2.58,2.58,0,0,1-1.62,3.26S328.23,193.05,329.29,187.09Z" fill="#5b5b5f"/><path d="M471.16,451.76s-5.11,1-51.65-56c0,0-29.8-38.43-52.38,6,0,0-31.61,53.83-37.27,59.92,0,0-16.36,29.9,14.47,47.72,0,0,35.51,9.75,42.84-20.8,0,0,29.34,1.64,31.94-2,0,0,44.46,38.82,60.25-12.36C479.36,474.23,479.44,458.76,471.16,451.76Z" fill="#5b5b5f"/></svg>
    </div>
    <!-- !SECTION: Text -->
    <!-- SECTION: Images -->
    <div class=" flex-wrap w-full hidden md:flex  ">
      <div class="flex p-1 w-full md:w-1/2 ">
        <img
          class="rounded-md h-64 w-full object-center object-cover flex-shrink shadow"
          src="https://alternativi.fr/uploads/articles//les-bienfaits-du-chat-sur-lhomme-e96.jpeg"
          alt=""
        />
        </div>
        <div class="flex p-1 w-full md:w-1/2  ">
          <img
          class="rounded-md h-64 w-full object-center object-cover flex-shrink shadow"
          src="https://cdn.pixabay.com/photo/2017/11/14/13/06/kitty-2948404_960_720.jpg"
          alt=""
        />
          </div>
          <div class="flex p-1 w-full md:w-1/2  ">
            <img
          class="rounded-md h-64 w-full object-center object-cover flex-shrink shadow"
          src = "https://www.sciencesetavenir.fr/assets/img/2020/01/17/cover-r4x3w1000-5e21bf77a1547-chartreux-3298051-1920.jpg"
        />
            </div>
            <div class="flex p-1 w-full md:w-1/2  ">
              <img
          class="rounded-md h-64 w-full object-center object-cover flex-shrink shadows"
          src="https://cdn.shopify.com/s/files/1/0326/2057/6900/articles/bienfaits-du-chat-sur-les-humains2_1600x.jpg?v=1588095563"
          alt=""
        />
              </div>
            </div>
            <!-- !SECTION: Images -->
          </div>
          <!-- !SECTION: index-->
        </div>
        <section class="text-gray-900 ">
          <!-- SECTION: Blog -->
          <div
      class="flex flex-col items-center flex-wrap justify-between mx-auto p-8 md:flex-row lg:w-5/6 xl:3/4"
     >
            <!-- SECTION: card -->
            <% @products.each do |product|%>
              <%= render "products/card", product: product %>
            <% end %>
            <!-- End card -->
            <!-- Div for cards oganization -->
          </div>
          <!-- !SECTION: Blog -->
        </section>
        <div class="container mx-auto mt-10">
          <div class="flex shadow-md my-10">
            <div class="w-3/4 bg-white px-10 py-10">
              <div class="flex justify-between border-b pb-8">
                <h1 class="font-semibold text-2xl">Shopping Cart</h1>
                <h2 class="font-semibold text-2xl">1 Item</h2>
              </div>
              <div class="flex mt-10 mb-5">
                <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
              </div>
              <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                <div class="flex w-2/5"> <!-- product -->
                  <div class="w-20">
                    <img class="h-24" src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1327&q=80 " alt="">
                  </div>
                  <div class="flex flex-col justify-between ml-4 flex-grow">
                    <span class="font-bold text-sm">Alfie</span>
                    <span class="text-red-500 text-xs">Photo</span>
                    <a href="#" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                  </div>
                </div>
                <div class="flex justify-center w-1/5">
                  <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
                  </svg>
                  <input class="mx-2 border text-center w-8" type="text" value="1">
                  <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
                    <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
                  </svg>
                </div>
                <span class="text-center w-1/5 font-semibold text-sm">$400.00</span>
                <span class="text-center w-1/5 font-semibold text-sm">$400.00</span>
              </div>
              <a href="#" class="flex font-semibold text-yellow-600 text-sm mt-10">
                <svg class="fill-current mr-2 text-yellow-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
                Continue Shopping
              </a>
            </div>
            <div id="summary" class="w-1/4 px-8 py-10 bg-yellow-200">
              <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
              <div class="flex justify-between mt-10 mb-5">
                <span class="font-semibold text-sm uppercase">Items 1</span>
                <span class="font-semibold text-sm">590$</span>
              </div>
              <div class="border-t mt-8">
                <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                  <span>Total cost</span>
                  <span>$600</span>
                </div>
                <button class="bg-yellow-500 font-semibold hover:bg-yellow-600 py-3 text-sm text-white uppercase w-full focus:outline-none">Checkout</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End card -->
        <!-- Div for cards oganization -->
      </div>
      <!-- !SECTION: Blog -->
    </section>
