
     <!-- !FOOTER -->
   <footer
    class="bg-yellow-500 text-gray-900 w-full flex flex-col sm:flex-row items-center justify-center sm:justify-between md:justify-between mx-auto p-8 lg:justify-between  xl:3/4"
  >
    <div class="flex sm:flex-row items-center">
      <!-- SECTION : Logo -->
      <div
        class="mr-4 border-black bg-black flex items-center justify-center rounded-full w-8 h-8 sm:w-12 sm:h-12 border-4">
        <i class="fas fa-cat text-yellow-500"></i>
      </div>
      <!-- !SECTION : Logo -->
    </div>

    <!-- SECTION: Middle footer -->
    <p>Made with <span style="color: red;">&#9829;</span> by les Perruches</p>

    <!-- !SECTION: footer -->
    </div>
    <p>KittyPics © 2020</p>
  </footer>