
<section class="bg-transparent text-black">
  
        
  <nav
    class="flex flex-col items-center justify-between mx-auto p-8 md:flex-row lg:w-5/6 xl:3/4"
  >
    <!-- SECTION : Logo -->
      <div
        class="mr-4 flex items-center justify-center rounded-full w-8 h-8 sm:w-12 sm:h-12 border-4 bg-yellow-500  border-yellow-500 "
      >
        <svg
          class="fill-current inline-block h-6 text-white text-white"
          viewBox="0 0 441 308"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M154.404 267.999C154.269 268 154.135 268 154 268C91.0395 268 40 216.96 40 154C40 91.0395 91.0395 40 154 40C206.215 40 250.231 75.1045 263.734 123H304.879C290.533 52.8067 228.433 0 154 0C68.9482 0 0 68.9482 0 154C0 239.052 68.9482 308 154 308H441V268H154.404L154.404 267.999ZM441 234L152 234V233.9C151.983 233.9 151.967 233.9 151.95 233.9C108.347 233.9 73 198.553 73 154.95C73 111.347 108.347 76 151.95 76C184.181 76 211.901 95.3141 224.168 123H174.233C167.919 118.588 160.237 116 151.95 116C130.438 116 113 133.438 113 154.95C113 176.144 129.927 193.384 151 193.888V194H152H220.581L441 194V234Z"
          />
        </svg>
      </div>
      <!-- !SECTION : Logo -->
    <ul class="flex items-center justify-between uppercase text-center sm:text-left">
      <a href="#" class="hover:text-yellow-500 group-focus:text-yellow-300 mx-2 sm:mx-4 lg:mx-6">Accueil</a>
      <a href="#" class="hover:text-yellow-500 group-focus:text-yellow-300 mx-2 sm:mx-4 lg:mx-6">Profil</a>
      <a href="#" class="hover:text-yellow-500 group-focus:text-yellow-300 mx-2 sm:mx-4 lg:mx-6">Contact</a>
      <div class="dropdown inline-block relative">
      <button class="bg-yellow-500 text-black font-semibold py-2 px-4 rounded inline-flex items-center">
      <span class="mr-1">Connexion</span>
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
      </button>
      <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
      <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Inscription</a></li>
      <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Connexion</a></li>
    </ul>
  </div>

    </ul>

    <!-- SECTION : cart Btn -->
    
    
    <button class="rounded-full py-3 px-4 uppercase bg-yellow-500  text-white  focus:outline-none">
    <i class="fas fa-shopping-cart"></i>
    </button>
    <!-- !SECTION : cart Btn -->
  </nav>

      
</section>
      